# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages that Data Scientists use
- List of commonly used libraries used by Data Scientists
- List of Data Science Tools

Some of the popular languages that Data Scientists use are:

1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. ggplot2

| Data Science Tools |
| ------- |
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [13]:
result = (3*4) + 5
print(result)

17

This will convert 200 minutes to hours by diving by 60

In [18]:
hours = 200/60
print(hours)

3.3333333333333335

## Author
Kosar Hasani